<div class="progress-stepper">
    <div class="step {% if step == 1 %}active{% elif step > 1 %}completed{% endif %}">
        <div class="circle">1</div>
        <span class="label">Informacion IPS</span>
    </div>
    <div class="line-segment"></div>

    <div class="step {% if step == 2 %}active{% elif step > 2 %}completed{% endif %}">
        <div class="circle">2</div>
        <span class="label">Datos Persona</span>
    </div>
    <div class="line-segment"></div>

    <div class="step {% if step == 3 %}active{% elif step > 3 %}completed{% endif %}">
        <div class="circle">3</div>
        <span class="label">Datos de Empleado</span>
    </div>
    
    <div class="step {% if step == 4 %}active{% elif step > 4 %}completed{% endif %}">
        <div class="circle">4</div>
        <span class="label">Datos de Usuario</span>
    </div>
</div>
