{% extends 'base.html' %}

{% load static %}

{% block title %}Seleccionar o Crear IPS{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>

{% include 'partials/stepper.html' with step=1 %}

<div class="container form-container">
    <h2 class="form-title">Seleccionar IPS existente</h2>

    <!-- Formulario de Selección de EPS -->
    <form method="POST" class="mb-5">
        {% csrf_token %}
        <div class="form-group">
            <label for="eps_id">Seleccionar EPS:</label>
            <select name="eps_id" id="eps_id" class="select2">
                {% for eps in eps_list %}
                    <option value="{{ eps.id }}">{{ eps.nombre_eps }}</option>
                {% empty %}
                    <option>No hay IPS disponibles</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-actions">
            <button type="submit" class="primary">Continuar</button>
        </div>
    </form>
</div>

<div class="container form-container">
    <h3 class="form-title">O Crear una nueva IPS</h3>

    <!-- Formulario para Crear EPS -->
    <form method="POST">
        {% csrf_token %}

        <div class="form-group">
            <label for="nombre_eps">Nombre IPS:</label>
            {{ form.nombre_eps }}
        </div>

        <div class="form-group">
            <label for="direccion_eps">Dirección:</label>
            {{ form.direccion_eps }}
        </div>

        <div class="form-group">
            <label for="telefono_eps">Teléfono:</label>
            {{ form.telefono_eps }}
        </div>

        <div class="form-group">
            <label for="email_eps">Email:</label>
            {{ form.email_eps }}
        </div>

        <div class="form-actions">
            <button type="submit" name="crear_eps" class="primary">Crear IPS</button>
        </div>
    </form>
</div>
{% endblock %}
