{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Enlazamos el CSS para listar dentro del bloque contenido -->
<link rel="stylesheet" href="{% static 'css/listar.css' %}">

<div class="content-container">
    <h2>Lista de Usuarios</h2>
    <div class="search-bar-container">
        <form action="{% url 'listar_usuarios' %}" method="get" class="search-form">
            <input type="text" name="q" placeholder="Buscar por documento..." value="{{ request.GET.q }}">
            <button type="submit" class="search-btn">Buscar</button>
            <a href="{% url 'crear_usuario' %}" class="btn-view">Crear un nuevo usuario</a>
        </form>
    </div>
    <hr>
    <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre de Usuario</th>
                        <th>Empleado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.username }}</td>
                        <td>{{ usuario.empleado }}</td>
                        <td>
                            <a href="{% url 'actualizar_usuario' usuario.id %}" class="btn-edit">Editar</a> |
                            <a href="{% url 'eliminar_usuario' usuario.id %}" class="btn-des" onclick="return confirm('¿Estás seguro de eliminar este usuario?');">Eliminar</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No hay usuarios registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
    </div>
{% endblock %}
