{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Iniciar Sesión - Meditek</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="{% static 'images/logo-clinic_master.png' %}">
</head>
<body>
    <div class="main-container">
        <div class="login-left">
            <div class="back-button">
                <a href="{% url 'inicio' %}">  
                    <i class="fas fa-times"></i> {# Icono de una 'X' #}
                </a>
            </div>
            <div class="logo">
                <img src="{% static 'images/logo.png' %}" alt="InsideBox Logo">
                <span>Meditek</span>
            </div>
            <div class="login-content">
                <p class="start-journey">Espero tengas un gran dia!!!</p>
                <h2>Ingresa a Meditek</h2> 

                {% if error %}
                    <div class="alert">{{ error }}</div>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="username">Usuario</label> {# Cambiado de E-mail a Usuario #}
                        <div class="input-with-icon">
                            <input type="text" id="username" name="username" placeholder="Tu nombre de usuario" required> {# Cambiado el tipo y placeholder #}
                            <i class="far fa-user"></i> {# Icono de usuario #}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="input-with-icon">
                            <input type="password" id="password" name="password" placeholder="••••••••" required>
                            <i class="far fa-eye-slash"></i>
                        </div>
                    </div>

                    <button type="submit" class="btn-signup">Iniciar Sesion</button> 

                    <div class="or-separator">
                        <span class="line"></span>
                        <span class="line"></span>
                    </div>
                    </p>
                </form>
            </div>
        </div>
        <div class="login-right">
            <div class="welcome-text-overlay">
                <h1>Bienvenido a Meditek</h1>
                <p>Tu solución integral para la gestión de talento humano .</p> 
            </div>
        </div>
    </div>
</body>
</html>